extends ./layout
append styles
  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
append content
  include ./adherents/adherents
append scripts
  script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
